.card {
    @apply rounded-xl p-6 overflow-hidden;
    @apply bg-triedel-gradient-0/50 dark:bg-triedel-dark-gradient-1/50 duration-150 shadow-md print:shadow-none;
}

.mobile-card {
    @apply card;
    @apply lg:p-0 lg:bg-transparent lg:shadow-none
}