@import "tailwind.css";

@import "buttons.css";
@import "cards.css";
@import "facts-grid.css";
@import "print.css";
@import "transitions.css";
@import "typography.css";

html {
    @apply scroll-smooth overflow-x-hidden overflow-y-scroll tracking-wide;
}

body {
    @apply bg-gradient-to-br from-triedel-gradient-0 to-triedel-gradient-1 dark:from-triedel-dark-gradient-0 dark:to-triedel-dark-gradient-1;
    @apply text-triedel-text dark:text-triedel-dark-text;
    @apply min-h-screen;
}