@font-face {
    font-family: PlusJakartaSans;
    src: url("../fonts/PlusJakartaSans-VariableFont_wght.ttf");
    font-display: block;
}

@font-face {
    font-family: PlusJakartaSans;
    src: url("../fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf");
    font-style: italic;
    font-display: block;
}

* {
    font-family: PlusJakartaSans, sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 800;
    @apply leading-none mb-4;
}

h2 {
    font-size: 2rem;
    font-weight: 800;
}

h3 {
    font-size: 1.75rem;
    font-weight: 800;
}

h4 {
    font-size: 1.5rem;
    font-weight: 700;
}

h5 {
    font-size: 1.25rem;
    font-weight: 600;
}

.subtitle {
    @apply text-sm opacity-60 italic -mt-1;
}

p {
    @apply mb-4;
}